:root {

  --box1: rgba(136, 165, 191, 0.478) 6px 2px 16px 0;

  --box2: rgba(255, 255, 255, 0.8) -6px -2px 16px 0;

  --boxDefault: rgba(3, 102, 214, 0.302) 0 0 0 3px;

  --boxOption: var(--color-secundary) 0 0 0 3px;

  --color-primary: rgb(36, 29, 96);

  --color-secundary: rgb(168, 7, 24);

  --color-terciary: rgb(213, 0, 0);

  --color-white: snow;

  --color-black: rgb(36, 41, 47);
}

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.loading {
  color: var(--color-white);
  font-size: 200%;
  height: 50vh;
  line-height: 50vh;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 4px var(--color-black);
  width: 100%;
}

.header {
  position: relative;
  background-color: var(--color-secundary);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-terciary);
  width: 25%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 75%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  box-shadow: var(--boxDefault);
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 500ms;
}

.item:hover {
  box-shadow: var(--color-secundary) 0 0 10px 5px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: var(--color-secundary);
  border: 0;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  transition: all 0.5s;
}

.item .item__add:hover {
  background-color: var(--color-primary);
}

.cart {
  background-color: var(--color-black);
  display: flex;
  flex-basis: 25%;
  flex-flow: column wrap;
  height: 100vh;
}

.cart .cart__items {
  height: 70vh;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.cart span {
  font-size: 20px;
  text-align: center;
}

.empty-cart {
  border-radius: 10px;
  color: var(--color-white);
  width: 170px;
  height: 35px;
  margin: 10px auto;
  box-shadow: var(--boxDefault);
  background-color: var(--color-secundary);
}

#lb {
  color: white;
  font-size: 15px;
  margin: 10px;
}

.cart__item div {
  align-items: center;
  background-color: var(--color-primary);
  box-shadow: var(--boxOption);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.cart__item p {
  margin: 5px 0;
}

.cart__item button {
  background-color: var(--color-black);
  border-radius: 8px;
  border-style: none;
  box-shadow: var(--boxDefault);
  box-sizing: border-box;
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  margin: 5px 10px;
  padding: 0 1.6rem;
  transition: all 0.5s;
  touch-action: manipulation;
}

.cart__item button:hover {
  box-shadow: var(--color-secundary) 0 0 10px 5px;
}
